a {
	color: #000000;
}

.t-site-header__top-navigation,
.t-site-header__basket-link-quantity,
.t-site-header__basket-link-quantity--mobile {
	background-color: #C41230;
}

.t-site-header__links {
	color: white;
}

.t-site-header {
	background-color: #F5EFE4;
}

.t-site-header__search-form .c-form-input {
	background-color: white;
}

.t-site-navigation {
	border-top: 3px solid #E9DCC0;
	border-bottom: 3px solid #E9DCC0;
}

.t-storefront-brands,
.t-storefront-categories {
	text-align: center;
}

.sfnt-ad {
	margin-bottom: 50px;
	padding: 0 10px
}

.sfnt-ad:hover {
	opacity: 0.5;
}

.c-button--huge {
	border: 3px solid #C41230;
	background: inherit;
	color: #000000;
}

.t-site-footer {
	background-color: #E9DCC0;
	border-bottom: 25px solid #000000;
}

.x-product-layout-purchase__name {
	margin-bottom: 0px;
}

.ocst-digits-only {
	font-style: italic;
	color: red;
	font-size: 12px;
	margin-left: 10px;
}
