.t-storefront-promo__caption, .t-spotlight__figure-text {
	display: none !important;
}

.no-white-border {
	padding: 0;
	margin: 0;
}

.t-site-footer__content {
	padding: 0;
}

.x-product-list__link:hover,
.t-search-preview__link:hover {
	background-color: #1965B2;
	color: #FFFFFF;
	box-shadow: none;
}

.x-product-list__picture {
	padding: 1rem 1rem 0;
}

.x-product-list__figure-caption {
	padding: 0 1rem;
}

.x-product-list__price {
	font-weight: bold;
	font-size: 16px;
}

.x-product-list__name {
	line-height: 1.25;
}

.t-search-preview__picture {
	background-color: inherit;
}

.t-page-title{
	font-size: 1.75rem;
}

.brand-logo {
	width: 90%;
}

@media screen and (max-width: 47em) {
	.screen-width { max-width: 100% !important; }
}

.hsps-link {
	color: #FFFFFF;
	background-color: #333333;
}

.hsps-link:hover {
	background-color: #1965B2 !important;
}

.o-wrapper {
	max-width: 100%;
}

.t-site-footer .c-collapsible-menu__label {
	padding-bottom: 0;
	border-bottom: 0;
}

.c-collapsible-menu__label {
	display: block;
}