.navigation-set .level-1:hover > span a {
	box-shadow: inset 0 -4px 0 0 #DD322E;
}

.bg-sky {
    background-color: #00539B;
}

.button.bg-yellow:hover {
    background-color: #e82532;
}

.navigation-set li {
	white-space: initial;
}

.sfnt-cat {
	margin-bottom: .75rem;
}

.product-carousel .h3 {
	background-color: #F8F8F8;
}

.product-carousel .h3 .uppercase {
	background-color: #DD322E;
}

.pdfsample a {
    background-color: #4cae4c;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    width: 100%;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
}

.pdfsample a:hover {
    background-color: #0c2a3a;
}

.footer,
.footer h5,
.single-navigation-column li a,
.footer .footer-contact a {
	color: white;
}
