.x-omega-navigation__wrap {
	padding-top: 2.5rem;
	height: 100px;
}

.t-site-header__wrapper {
	max-width: 100%;
	background-color: #004A98;
	color: #FFFFFF;
}

.t-site-header__top-navigation {
	max-width: 95rem;
	border-bottom: 0;
}

#sfnt_promos {
	padding-top: 5rem;
}

.t-storefront-promos {
	padding-top: 2rem;
}

.t-storefront-promo__caption {
	display: none;
}

.t-storefront-promo__item:hover {
	opacity: 0.5;
}

.t-storefront-featured-products {
	margin-bottom: 0;
}

.t-storefront-featured-product-description {
	background-color: #E5E5E5;
	padding-top: 0;
	padding-bottom: 5rem;
}

.t-storefront-featured-product-description__headline {
	color: #1C3452;
	margin: 2rem 0 1rem 0;
}

.x-product-list__figure {
	background-color: #FFFFFF;
}

.t-site-footer__content {
	padding-top: 3rem;
	padding-bottom: 0;
}

.ocst-digits-only {
	font-style: italic;
	color: red;
	font-size: 12px;
	margin-left: 10px;
}

.c-form-input[readonly],
.x-custom-select__title {
	background-color: #C0C0C0;
}

.x-custom-select.is-disabled {
	opacity: 1;
}

#custom-ShipStateSelect,
#custom-BillStateSelect {
	pointer-events: none;
}

.x-custom-select__title::after {
	display: none;
}
