.sky, a:hover, .sub-category a:hover, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: #000000;
}

.bg-green {
	background-color: #000000;
}

.button.bg-green:hover,
.button[disabled],
.button.disabled {
	background-color: #000000;
}

.category-product-cta-button:hover {
	background: #000000;
}

.mini-basket-close {
	color: #000000;
}

.navigation-set .level-1, .nav-item-1 a {
	padding-right: 50px;
}

li.level-1.bg-gray.white.mobile-navigation-gray,
.category-product-cta-button-adpr {
	display: none;
}

.navigation-set .level-1:hover > span a {
	box-shadow: inset 0 -4px 0 0 #F0E023;
}

.mini-basket-inner {
	border: 2px solid #000000;
}

.mini-basket-count {
	background: #000000;
}

.mini-basket-inner:after {
	border-right-color: #000000;
}

.navigation-bar,
.footer {
	background-color: #000000;
}

.well {
	border-color: #79232E;
}

.featured-products-descrip:before {
	border-left-color: #79232E;
}

.footer-contact li:before {
	margin-bottom: -10px;
}

.breadcrumbs .current-item,
.category-tree h5,
.category-tree-heading,
.category-tree .level-1.active a,
.page-links-active {
	color: #000000;
}

.product-description {
	font-weight: 600;
	font-size: 15px;
}

@media only screen and (min-width: 960px) {
	.search-form { margin-top: 5px; }
	.mini-cart-margin { margin-top: 10px; }
}

.category-product a {
	font-weight: 600;
}

.category-product p {
	text-align: center;
	font-size: 15px;
}

.category-product-price,
.category-product-sku {
	color: #000000;
	font-size: 12px;
}

.quickview-product-name, .nm {
	color: #000000;
}

.product-price {
	color: #000000;
}

.fields-heading, .heading-fields {
	margin: 1em 0 1em 0;
}

.hero-slider.slick-initialized {
        visibility: visible;
}

.hero-slider img {
        width: 100vw;
}

.hero-slider .slick-dots {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 1rem;
        bottom: 2rem;
        left: 50%;
        line-height: 2;
        margin: 0;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 12rem;
}

.hero-slider .slick-dots li {
        margin: 0 0.25rem;
        vertical-align: middle;
}

.hero-slider .slick-dots li button {
        width: 1.5rem;
        height: 2rem;
        padding: 0;
}

.slick-dots li.slick-active button:before {
        background: #fff;
        color: transparent;
        opacity: 1;
}

.slick-prev, .slick-next {
	z-index: 1;
}

.product-title {
    font-size: 1.7rem;
    line-height: 1.33333;
}

.tab-active {
	color: #000000;
	border-bottom: 4px solid #FFFFFF;
}

.ocst-digits-only {
	font-style: italic;
	color: red;
	font-size: 12px;
	margin-left: 10px;
}

@media screen and (max-width: 959px) {
	.logo-image { max-width: 50%; }
}

@media screen and (min-width: 960px) {
	.logo-container { transform: translate3d(5%, -35%, 0); }
}

.message {
	margin: 0;
	margin-bottom: 1rem;
}