.x-omega-navigation__wrap {
	padding-top: 2.5rem;
	height: 100px;
}

.t-site-header__wrapper {
	max-width: 100%;
	background-color: #004A98;
	color: #FFFFFF;
}

.t-site-header__top-navigation {
	max-width: 95rem;
	border-bottom: 0;
}

.t-secondary-link {
	color: #FFFFFF;
}

#sfnt_promos {
	padding-top: 5rem;
}

.t-storefront-promos {
	padding-top: 2rem;
}

.t-storefront-promo__caption {
	display: none;
}

.t-storefront-promo__item:hover {
	opacity: 0.5;
}

.t-storefront-featured-products {
	margin-bottom: 0;
}

.t-storefront-featured-product-description {
	background-color: #E5E5E5;
	padding-top: 0;
	padding-bottom: 5rem;
}

.t-storefront-featured-product-description__headline {
	color: #1C3452;
	margin: 2rem 0 1rem 0;
}

.x-product-list__figure {
	background-color: #FFFFFF;
}

#site_copyright {
	background-color: #004A98;
}

.t-site-footer {
	background-color: #001B3D;
	padding-top: 0;
}

.t-site-footer__content {
	padding-top: 3rem;
	padding-bottom: 0;
}

.footer-link {
	color: #FFFFFF;
	font-weight: 100;
	text-decoration: none;
}

.ctus-footer-link {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover,
.t-secondary-link:hover,
.footer-link:hover,
.ctus-footer-link:hover {
	color: #1696D3;
}

.ocst-digits-only {
	font-style: italic;
	color: red;
	font-size: 12px;
	margin-left: 10px;
}

.c-form-input[readonly] {
	background-color: #C0C0C0;
}
