.bg-yellow {
	background-color: #EFC31A !important;
}
.yellow {
	color: #EFC31A !important;
}
.bg-red {
	background-color: #E1251B !important;
}
.red {
	color: #E1251B !important;
}
footer ul a {
	color: black;
}
footer ul a:hover {
	text-decoration: underline;
	color: black;
}
.navigation-set .level-1:hover > span a {
		box-shadow: inset 0 -4px 0 0 #F0C415;
}
.pre-header .pre-header--promo {
		color: #F0C415;
}
.nunito {
	font-family: 'Nunito', sans-serif;
}
.heading-decoration span, .heading-decoration .readytheme-banner {
		background: #FFFFFF;
}
.heading-decoration:before {
		border: solid #F0C415;
}
a:hover {
		color: #29a700;
}
.per-page a[data-selected="selected"] {
		color: red;
		font-weight: 700;
}