.header-background {
	background-size: cover;
	background-color: #E5E5E5;
}

.mobile-johnsonville-logo,
.mobile-Johnsonville-logo {
	padding: 10px;
}

.bg-sky {
	background-color: #A17528;
}

.bg-yellow, .button.bg-yellow:hover,
.button.bg-sky:hover  {
	background-color: #931930;
}

.blue {
	color: #A17528;
}

.bold {
	color: #FFFFFF;
}

.navigation-set .level-1:hover > span a {
	box-shadow: inset 0 -4px 0 0 #9E1D34;
}

a:hover,
.per-page a[data-selected="selected"] {
	color: #9E1D34;
}

.navigation-set .level-2 a:after {
	background: #9E1D34;
}

.breadcrumb-border {
	color: white;
}

.navigation-bar,
.navigation-set li:hover ul {
	background-color: #DDC9A2;
}

.sfnt-cat {
	margin-bottom: 1.25rem;
}

@media screen and (max-width: 768px) {
	.hide-for-tablet-on-down {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.header-background {
		background-image: none;
	}
}

@media screen and (min-width: 480px) {
	.mobile-johnsonville-logo,
	.mobile-Johnsonville-logo {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.Johnsonville-logo {
		width: 300px;
		left: 35%
	}
}

@media screen and (min-width: 1000px) {
	.Johnsonville-logo {
		width: 300px;
		left: 20%;
	}
}

@media screen and (min-width: 1000px) {
	.navigation-set .level-1 {
		width: 14%;
	}
}

body {
	background-image: url(graphics/00000010/WoodBackground.png);
}