.x-omega-navigation__wrap {
	padding-top: 2.5rem;
	height: 100px;
}

.t-defer-object {
	visibility: visible;
}

.t-storefront-promos {
	padding-top: 2rem;
}

.t-storefront-promo__caption {
	display: none;
}

.t-storefront-promo__item:hover {
	opacity: 0.5;
}

.t-storefront-featured-products {
	margin-top: 0;
}

.t-storefront-featured-product-description {
	padding-bottom: 8rem;
}

.t-storefront-featured-product-description__cta {
	background-color: #003A5D;
	border: 5px solid #005CB9;
}

.t-site-footer {
	background-color: #EFEFEF;
}

.t-site-footer__content {
	padding-top: 0;
	padding-bottom: 0;
}

#site_copyright {
	background-color: #003A5D;
	color: #FFFFFF;
}

[id*='pf_pvt'],
[id*='pf_int'] {
	display: none;
}

.t-basket-update .x-quantify {
	width: 13em;
}

.ocst-digits-only {
	font-style: italic;
	color: red;
	font-size: 12px;
	margin-left: 10px;
}

@media screen and (min-width: 200px) {
	.break-on-desktop {
		display: none;
	}
}

@media screen and (min-width: 960px) {
	.c-heading-alpha {
 		font-size: 50px;
	}

	.break-on-desktop {
		display: block;
	}
}
