.navigation-set .level-1:hover > span a {
	box-shadow: inset 0 -4px 0 0 #DD322E;
}

.bg-yellow {
    background-color: #dd293a;
}

.button.bg-yellow:hover {
    background-color: #e82532;
}

.sfnt-cat {
	margin-bottom: 1.25rem;
}

.product-carousel .h3 {
	background-color: #F8F8F8;
}

.product-carousel .h3 .uppercase {
	background-color: #DD322E;
}