.x-omega-navigation__wrap {
	padding-top: 2.5rem;
	height: 100px;
}

.t-site-footer {
	background-color: #EFEFEF;
}

.x-refinery.is-loaded {
	display: none;
}

.t-storefront-promo__caption {
	background-color: rgba(51, 51, 51, 0.25);
	height: 60px;
}

.t-site-footer__content {
	padding-top: 0rem;
	padding-bottom: 0rem;
}