.x-product-list__figure-caption {
	border: 1px solid black;
}

.x-product-list__name {
	font-weight: bold;
}

.c-form-input[readonly] {
	background-color: #c0c0c0;
}

.t-search-preview__picture {
	display: none;
}