.sky,
a:hover, .sub-category a:hover,
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: #792330;
}

.bg-green {
	background-color: #792330;
}

.button.bg-green:hover,
.button[disabled],
.button.disabled {
	background-color: #C20E31;
}

li.level-1.bg-gray.white.mobile-navigation-gray {
	display: none;
}

.navigation-set .level-1:hover > span a {
	box-shadow: inset 0 -4px 0 0 #C20E31;
}

.mini-basket-inner {
	border: 2px solid #C20E31;
}

.mini-basket-count,
.nav-item-1--left {
	background-color: #C20E31;
}

.mini-basket-inner:after {
	border-right-color: #C20E31;
}

.navigation-bar {
	background-color: #792330;
}

.featured-red {
	color: #79232E
}

table th, table td {
  padding: 0;
}

.order-period-banner {
  font-size: 21px;
  font-weight: bold;
  color: #7A2431;
}

.order-period-country {
  font-size: 21px;
  font-weight: bold;
  font-style: italic;
  color: #C11F32;
}

.order-period-header {
  text-align: center;
  font-size: 14px;
  color: #7A2431;
}

.order-period-dates {
  font-size: 16px;
}

.order-period-note {
  font-size: 12px;
  font-style: italic;
  color: #C11F32;
}

.well {
	border-color: #79232E;
}

.featured-products-descrip:before {
	border-left-color: #79232E;
}

.product-description {
	font-weight: 600;
}

.footer {
	background-color: #C00E30;
}

.footer-contact li:before {
	margin-bottom: -10px;
}

.disclaimers,
.category-product-cta-button:hover {
	background-color: #77242E;
}

.breadcrumbs .current-item,
.category-tree h5,
.category-tree-heading,
.category-tree .level-1.active a,
.page-links-active {
	color: #C20E31;
}

@media only screen and (min-width: 960px) {
	.search-form { margin-top: 5px; }
	.mini-cart-margin { margin-top: 10px; }
}

.category-product p {
	font-size: 12px;
}

.quickview-product-name, .nm {
	color: #792330;
}

.fields-heading, .heading-fields {
	margin: 1em 0 1em 0;
}

.hero-slider.slick-initialized {
        visibility: visible;
}

.hero-slider img {
        width: 100vw;
}

.hero-slider .slick-dots {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 1rem;
        bottom: 2rem;
        left: 50%;
        line-height: 2;
        margin: 0;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 7rem;
}

.hero-slider .slick-dots li {
        margin: 0 0.25rem;
        vertical-align: middle;
}

.hero-slider .slick-dots li button {
        width: 1.5rem;
        height: 2rem;
        padding: 0;
}

.slick-dots li.slick-active button:before {
        background: #fff;
        color: transparent;
        opacity: 1;
}

.slick-prev, .slick-next {
	z-index: 1;
}

.product-title {
    font-size: 1.7rem;
    line-height: 1.33333;
}

.basket-product-subtotal {
	font-size: 14px;
	margin-top: 2px;
}

.basket-total-row {
	font-size: 18px;
}

.ocst-digits-only {
	font-style: italic;
	color: red;
	font-size: 12px;
	margin-left: 10px;
}