.header-background {
	background-color: #00AEEF;
	padding: 10px;
}

.t-site-header__top-navigation {
	border-bottom: none;
}

.t-site-header__links {
	color: #FFFFFF;
	text-decoration: none;
}

.t-site-header__links:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.t-storefront-promo__caption {
	display: none;
}

.t-storefront-featured-products {
	margin-bottom: 0;
}

.t-storefront-featured-product-description {
	background-color: #E5E5E5;
	padding-top: 0;
	padding-bottom: 5rem;
}

.t-storefront-featured-product-description__headline {
	color: #1C3452;
	margin: 2rem 0 1rem 0;
}

.x-product-list__figure {
	background-color: #FFFFFF;
}

.t-site-footer {
	background-image: url(graphics/00000018/footer-background.png);
}

.t-site-footer__content {
	padding-top: 0;
}

.footer-link {
	color: #000000;
	text-decoration: none;
}

.footer-link:hover {
	color: #000000;
	text-decoration: underline;
}

.pdfsample a {
	background-color: #4cae4c;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	color: #fff;
	width: 100%;
	transition: all linear .5s;
	-webkit-transition: all linear .5s;
}

.pdfsample a:hover {
	background-color: #0c2a3a;
}

[id*='pf_pvt'],
[id*='pf_int'] {
	display: none;
}

.ocst-digits-only {
	font-style: italic;
	color: red;
	font-size: 12px;
	margin-left: 10px;
}

.c-form-input[readonly] {
	background-color: #C0C0C0;
}

@media (min-width: 90em) {
	.x-omega-navigation__wrap {
		padding-top: 2.5rem;
		height: 100px;
	}
}