<script>
	var mzOptions = {
		rightClick: true
	};
	</script>
	<div class="row bg-white product-information">
		<div class="column whole large-half product-information--images">
			<div class="row">
				<div class="column large-one-sixth large-show hide thumbnail-wrapper np">
					<div id="js-thumbnails" class="thumbnails"></div>
				</div>
				<div class="column large-five-sixths">
					<mvt:if expr="l.settings:product:customfield_values:customfields:product_flag NE 'none'">
						<mvt:assign name="l.settings:product:flag" value="'flag--' $ tolower(l.settings:product:customfield_values:customfields:product_flag)" />
					</mvt:if>
					<span class="flag">
						<span id="js-main-image-zoom" class="main-image" data-index="0">
							<img src="graphics/en-US/cssui/blank.gif" alt="&mvte:product:name;" id="js-main-image" data-image="&mvt:product:customfield_values:productimagecustomfields:main;">
						</span>
					</span>
					<div id="js-main-dots" class="main-image-nav main-image-nav--dots show large-hide"></div>
				</div>
			</div>
			<mvt:item name="product_display_imagemachine" param="body:product:id" />
		</div>
		<!-- end product-information--images -->
		<div class="column whole large-half product-information--purchase">
			<div id="js-processing-purchase" class="processing-purchase"><img src="&mvte:global:theme_path;/images/img_ajax_processing.gif" alt="Processing..." title="Processing..." /></div>
			<div id="js-purchase-message" class="message message-warning purchase-message"></div>
			<div class="row">
				<div class="column whole">
					<h1 class="nm product-title">&mvte:product:name;</h1>
					<div class="product-code">SKU: &mvte:product:code;</div>
					<br>
					<h4 class="nm">Product Description</h4>
					<div class="product-description">&mvt:product:descrip;</div>
					<br>
					<div class="h3 nbm">
						<mvt:if expr="l.settings:product:base_price GT l.settings:product:price">
							<s id="js-additional-price" class="product-additional-price">&mvt:product:formatted_base_price;</s>
						</mvt:if>
						<span class="product-price">&mvt:product:formatted_price;</span>
						<!-- Removed the #js-price-value since it was showing price * quantity on items like SNP1606 -->
						<span class="hide" id="js-price-value"></span>
					</div>
					<div id="js-product-discounts"></div>
				</div>
			</div>
			<br>
	
	
	
	<mvt:comment>
	|
	| begin attribute/variant grid
	| uses custom product field "product_grid" to turn on product grid
	| creates two arrays based on size and color, or one array based on size if there is no color options
	| then it goes through the arrays and creates an array for the product grid. makes it easier to display the grid, and easier to move to other stores.
	|
	| NOTE: we are updating the product attribute template to handle product grid stuff by bypassing the "select" attribute type.
	|
	|
	</mvt:comment>
	
	<mvt:if expr="l.settings:product:customfield_values:customfields:product_grid EQ 1">
	
	<mvt:comment>
	|
	| find total number of current product in the basket to deal with minimums. If minimum is met in basket then we don't have to put up alert
	|
	</mvt:comment>
	<mvt:do file="g.Module_Library_DB" name="l.success" value="BasketItemList_Load_Basket(g.basket:basket_id, l.settings:basketitems)" />
	<mvt:foreach iterator="basketitem" array="basketitems">
		<mvt:if expr="l.settings:basketitem:code EQ l.settings:product:code">
			<mvt:assign name="l.settings:basket_quantity" value="l.settings:basket_quantity + l.settings:basketitem:quantity" />
		</mvt:if>
	</mvt:foreach>
	
	
		  <mvt:foreach iterator="attribute" array="attributes">
	
	<mvt:if expr="l.settings:attribute:type EQ 'text'">
		<mvt:assign name="l.settings:VattributeID" value="'l-' $ tolower(l.settings:attribute:code)" />
		<mvt:assign name="l.settings:attributeID" value="'{{replace_id}}'" />
		<mvt:capture variable = "l.hidden_field">
			<input type="hidden" name="Product_Attributes[&mvte:attribute:index;]:code" value="&mvte:attribute:code;" data-attribute-type="&mvte:attribute:type;" />
			<input type="hidden" name="Product_Attributes[&mvte:attribute:index;]:value" value="&mvte:attribute:value;" id="&mvt:attributeID;" class="input-medium" data-attribute="&mvte:attribute:code;" data-option-price="&mvt:attribute:price;" data-regular-price="" />
		</mvt:capture>
		<mvt:assign name="l.ok" value="miva_array_insert(l.product:hidden_fields,l.hidden_field,-1)" />
		<mvt:capture variable = "l.visible_field">
			<input type="text" name="Product_Attributes[&mvte:attribute:index;]:value" value="&mvte:attribute:value;" id="&mvt:VattributeID;-visible" class="input-medium" data-attribute="&mvte:attribute:code;" data-option-price="&mvt:attribute:price;" data-regular-price="" onKeyUp="buildhidden();" />
		</mvt:capture>
		<mvt:assign name="l.ok" value="miva_array_insert(l.settings:visible_fields,l.visible_field,-1)" />
		<mvt:assign name="l.ok" value="miva_array_insert(l.settings:text_attribute_ids,l.settings:VattributeID,-1)" />
		<mvt:assign name="l.ok" value="miva_array_insert(l.settings:text_attribute_prompts,l.settings:attribute:prompt,-1)" />
	</mvt:if>
	
				<mvt:foreach iterator="option" array="attribute:options">
				<mvt:if expr="len(l.settings:option:code) GT 3 OR len(l.settings:option:code) EQ 2">
					<mvt:assign name="l.sizes:code" value="l.settings:option:code" />
					<mvt:assign name="l.sizes:attribute_code" value="l.settings:attribute:code" />
					<mvt:assign name="l.sizes:price" value="l.settings:option:price" />
					<mvt:assign name="l.sizes:prompt" value="l.settings:option:prompt" />
					<mvt:assign name="l.ok" value="miva_array_insert(l.settings:sizes,l.sizes,-1)" />
				<mvt:elseif expr="len(l.settings:option:code) EQ 3">
					<mvt:assign name="l.colors:code" value="l.settings:option:code" />
					<mvt:assign name="l.colors:attribute_code" value="l.settings:attribute:code" />
					<mvt:assign name="l.colors:price" value="l.settings:option:price" />
					<mvt:assign name="l.colors:prompt" value="l.settings:option:prompt" />
					<mvt:assign name="l.ok" value="miva_array_insert(l.settings:colors,l.colors,-1)" />
				</mvt:if>
				</mvt:foreach>
		  </mvt:foreach>
	
		<mvt:if expr="miva_array_elements(l.settings:colors) GT 0">
			<mvt:foreach iterator="color" array="colors">
				  <mvt:foreach iterator="size" array="sizes">
					<mvt:assign name="l.product:size_prompt" value="l.settings:size:prompt" />
					<mvt:assign name="l.product:size_code" value="l.settings:size:code" />
					<mvt:assign name="l.product:size_attribute_code" value="l.settings:size:attribute_code" />
					<mvt:assign name="l.product:size_price" value="l.settings:size:price" />
					<mvt:assign name="l.product:price_adj" value="l.settings:size:price" />
	
					<mvt:assign name="l.product:code" value="l.settings:product:code $ '-' $ l.settings:size:code $ l.settings:color:code" />
					<mvt:assign name="l.product:color_prompt" value="l.settings:color:prompt" />
					<mvt:assign name="l.product:color_code" value="l.settings:color:code" />
					<mvt:assign name="l.product:color_attribute_code" value="l.settings:color:attribute_code" />
					<mvt:assign name="l.product:color_price" value="l.settings:color:price" />
					<mvt:assign name="l.product:price_adj" value="l.settings:size:price + l.settings:color:price" />
	
					<mvt:do file="g.Module_Root $ '/modules/util/customfld.mvc'" name="l.success" value="Read_Product_Code(l.settings:module, l.null, l.product:code, 'Closeout', l.product:closeout)" />
	
					<mvt:do file="g.Module_Library_DB" name="l.success" value="Product_Load_Code(l.product:code, l.settings:product_variant)" />
					<mvt:do file="g.Module_Feature_INV_DB" name="l.product:inventory" value="InventoryProductCount(l.settings:product_variant:id)" />
					<mvt:if expr="l.product:inventory LE 0">
						<mvt:assign name="l.product:inventory" value="'0'" />
						<mvt:assign name="l.product:disabled" value="'disabled'" />
					<mvt:else>
						<mvt:assign name="l.product:disabled" value="''" />
					</mvt:if>
	
					<mvt:assign name="l.ok" value="miva_array_insert(l.settings:gridproducts,l.product,-1)" />
					<mvt:assign name="l.product" value="''" />
				</mvt:foreach>
			</mvt:foreach>
		<mvt:else>
			<mvt:foreach iterator="size" array="sizes">
				<mvt:assign name="l.product:code" value="l.settings:product:code $ '-' $ l.settings:size:code" />
				<mvt:assign name="l.product:size_prompt" value="l.settings:size:prompt" />
				<mvt:assign name="l.product:size_code" value="l.settings:size:code" />
				<mvt:assign name="l.product:size_attribute_code" value="l.settings:size:attribute_code" />
				<mvt:assign name="l.product:size_price" value="l.settings:size:price" />
				<mvt:assign name="l.product:price_adj" value="l.settings:size:price" />
	
				<mvt:do file="g.Module_Root $ '/modules/util/customfld.mvc'" name="l.success" value="Read_Product_Code(l.settings:module, l.null, l.product:code, 'Closeout', l.product:closeout)" />
	
				<mvt:if expr="l.alt_grid_display">
					<mvt:assign name="l.product:code" value="gettoken(l.product:code,'-',2)" />
				</mvt:if>
				<mvt:do file="g.Module_Library_DB" name="l.success" value="Product_Load_Code(l.product:code, l.settings:product_variant)" />
				<mvt:assign name="l.product:unit_price" value="l.settings:product_variant:price" />
	
				<mvt:do file="g.Module_Feature_INV_DB" name="l.product:inventory" value="InventoryProductCount(l.settings:product_variant:id)" />
				<mvt:if expr="l.product:inventory LE 0">
					<mvt:assign name="l.product:inventory" value="'0'" />
					<mvt:assign name="l.product:disabled" value="'disabled'" />
				<mvt:else>
					<mvt:assign name="l.product:disabled" value="''" />
				</mvt:if>
	
				<mvt:assign name="l.ok" value="miva_array_insert(l.settings:gridproducts,l.product,-1)" />
			  </mvt:foreach>
		</mvt:if>
	
	
		<table>
		<tr>
		<th style="padding-bottom: 15px;">SKU</th>
		<th>Option</th>
		<mvt:if expr="l.settings:colors">
			<th>Color</th>
		</mvt:if>
		<th style="width: 75px;">Quantity</th>
		<th  style="padding-left: 10px;" nowrap>
			<mvt:if expr="l.alt_grid_display">
				Unit Price
			<mvt:else>
				Upcharge
			</mvt:if>
	
		</th>
		<th></th>
		</tr>
	
		<mvt:foreach iterator="gridproduct" array="gridproducts">
			<mvt:if expr="l.settings:gridproduct:closeout">
				<mvt:assign name="l.settings:closeout" value="1" />
			</mvt:if>
	
			<tr>
		<form action="&mvte:urls:BASK:rr;" method="post" class="purchase-product--multiple js-purchase-product js-purchase-product--multiple attribute-1">
			<input type="hidden" name="Action" value="ADPR">
				   <input type="hidden" name="Product_Code" value="&mvte:product:code;">
				  <input type="hidden" name="Product_Attributes[1]:code" value="&mvte:gridproduct:size_attribute_code;">
				<input type="hidden" name="Product_Attributes[1]:value" value="&mvte:gridproduct:size_code;">
			<mvt:if expr="l.settings:gridproduct:color_attribute_code AND l.settings:gridproduct:color_code">
						<input type="hidden" name="Product_Attributes[2]:code" value="&mvte:gridproduct:color_attribute_code;">
						<input type="hidden" name="Product_Attributes[2]:value" value="&mvte:gridproduct:color_code;">
			</mvt:if>
				<td style="padding-bottom: 15px;" nowrap>
					<mvt:if expr="'-' CIN l.settings:gridproduct:code">
						<mvt:eval expr="gettoken(l.settings:gridproduct:code,'-',2)" />
					<mvt:else>
						&mvt:gridproduct:code;
					</mvt:if>
	
	
	
					<mvt:if expr="l.settings:product:customfield_values:customfields:made_to_order NE 1">
						<br>
						<small><b>Avail Qty: &mvt:gridproduct:inventory;</b></small>
					<mvt:else>
						<br>
						&nbsp;
					</mvt:if>
				</td>
				<td nowrap>&mvte:gridproduct:size_prompt; </td>
				<mvt:if expr="l.settings:colors">
					<td nowrap>&mvte:gridproduct:color_prompt; </td>
				</mvt:if>
	
				<td>
					  <mvt:if expr="l.settings:gridproduct:closeout">
						<input type="number" name="Quantity" max="&mvt:gridproduct:inventory;" value="0" id="&mvt:gridproduct:code;" class="align-center" style="padding:0;" &mvt:gridproduct:disabled;> 	
					  <mvt:else>
						<input type="number" name="Quantity" value="0" id="&mvt:option:code;" class="align-center" style="padding:0;" > 	
					  </mvt:if>
				</td>
	
				<td style="padding-left: 10px;">
			<mvt:if expr="l.alt_grid_display">
				<mvt:eval expr="' $' $ rnd(l.settings:gridproduct:unit_price, 2)" />
			<mvt:else>
					<mvt:if expr="l.settings:gridproduct:price_adj">
						<mvt:if expr="l.settings:gridproduct:price_adj GT 0">
							<mvt:eval expr="' +$' $ rnd(l.settings:gridproduct:price_adj, 2)" />
						<mvt:else>
							&nbsp<mvt:eval expr="' -$' $ rnd(l.settings:gridproduct:price_adj, 2)" />
						</mvt:if>
					</mvt:if>
			</mvt:if>
	
				</td>
				<td class="hide" nowrap>
					<a href="&mvt:urls:WISH:auto;?action=ATWL&product_code=&mvt:gridproduct:code;&WishList_ID=1"><small><b>add to wish list</b></small></a>
				</td>
	
				<input type="hidden" name="Product_Attribute_Count" value="1" id="js-product-attribute-count">
	
			<mvt:foreach iterator="hidden_field" array="gridproduct:hidden_fields">
				<mvt:eval expr="glosub(l.settings:hidden_field,'{{replace_id}}',l.settings:gridproduct:code $ '-' $ l.pos2)" />
			</mvt:foreach>
		</form>
				</tr>			
	
		</mvt:foreach>
	
		</table>
	
	
	
	
	<mvt:comment>
	|
	| attributes call - we remove the "select" attribute that contains sizes/colors from the attributes array in the first loop by creating a temp array that we copy over to attributes, then we can display normally.
	|
	</mvt:comment>
	
	<div id="js-product-attributes" class="column whole product-attributes">
	<mvt:foreach iterator="vf" array="visible_fields">
		<div class="form-row">
		<label for="&mvt:attributeID;" title="&mvte:attribute:prompt;" class="medium"><mvt:eval expr="l.settings:text_attribute_prompts[l.pos1]" /></label>
		&mvt:vf;
		</div>
	</mvt:foreach>
	</div>
	
					<mvt:item name="discount_volume" param="product:id" />
	
		<div class="column whole small-half medium-whole large-three-fifths x-large-seven-tenths">
			<div class="breaker small-all-hidden medium-all-shown large-all-hidden"></div>
			<button type="submit" value="Add to Cart" class="button button-block button-square uppercase add-to-cart bg-green bold" id="js-add-to-cart--multiple">Add to Cart</button>
			<button id="inputbuttonspinner" style="display: none;" class="button button-block button-square uppercase add-to-cart bg-green bold"><div class="loader"></div></button>
		</div>
	
	<mvt:comment>
	|
	| end attribute/variant grid
	|
	</mvt:comment>
	
	<mvt:else>
	
	
	
			<form method="post" action="&mvte:urls:BASK:secure;" name="add" id="js-purchase-product" class="inline-labeling" onsubmit="return checkMinimum()">
				<input type="hidden" name="Old_Screen" value="&mvte:global:Screen;" />
				<input type="hidden" name="Old_Search" value="&mvte:global:Search;" />
				<input type="hidden" name="Action" value="ADPR" />
				<input type="hidden" name="Product_Code" value="&mvte:product:code;" />
				<input type="hidden" name="Category_Code" value="&mvte:global:category_code;" />
				<input type="hidden" name="Offset" value="&mvte:global:Offset;" />
				<input type="hidden" name="AllOffset" value="&mvte:global:AllOffset;" />
				<input type="hidden" name="CatListingOffset" value="&mvte:global:CatListingOffset;" />
				<input type="hidden" name="RelatedOffset" value="&mvte:global:RelatedOffset;" />
				<input type="hidden" name="SearchOffset" value="&mvte:global:SearchOffset;" />
				<div class="row">
	
	<mvt:if expr="gettoken(l.settings:product:inv_long,' ',1) LT 0">
		<mvt:assign name="l.temp_inv" value="gettoken(l.settings:product:inv_long,' ',1)" />
		<mvt:assign name="l.temp_msg" value="substring(l.settings:product:inv_long,4,len(l.settings:product:inv_long))" />
		<mvt:assign name="l.settings:product:inv_long" value="'0 ' $ l.temp_msg" />
	</mvt:if>
					<mvt:if expr="l.settings:product:inv_active OR l.settings:attributemachine:product:inv_active">
						<div id="js-inventory-message" class="column whole">
							<mvt:if expr="l.settings:product:code EQ 'SNP1687'">
							<mvt:else>
								&mvt:product:inv_long;
							</mvt:if>
						</div>
					</mvt:if>
					<mvt:item name="discount_volume" param="product:id" />
					<mvt:if expr="l.settings:product:customfield_values:customfields:required_verbiage NE null">
						<div class="column one-third" style="font-size: 19px; font-weight: bold;">
							&mvt:product:customfield_values:customfields:required_verbiage;
						</div>
					</mvt:if>
					<div id="js-product-attributes" class="column whole product-attributes">
						<mvt:item name="product_attributes" param="product:id" />
					</div>
	
					<mvt:if expr="g.hasSwatches">
						<div class="column whole product-swatches">
							<label class="medium">&mvte:global:swatch_prompt;</label>
							<span id="js-swatch-name" class="bold swatch-name">&nbsp;</span>
							<div id="js-swatches"></div>
						</div>
					</mvt:if>
				</div>
				<mvt:if expr="miva_array_elements(l.settings:attributes) GT 1">
					<br>
				</mvt:if>
				<div class="row add-to-cart-wrap">
	
	<mvt:do file="g.Module_Feature_INV_DB" name="l.settings:product:inventory" value="InventoryProductCount(l.settings:product:id)" />
	
	<mvt:if expr="l.settings:product:inventory LE 0">
		<mvt:assign name="l.settings:product:inventory" value="'0'" />
		<mvt:assign name="l.settings:product:disabled" value="'disabled'" />
	<mvt:else>
		<mvt:assign name="l.settings:product:disabled" value="''" />
	</mvt:if>
	
	
		<style>
	<mvt:comment>
		input[type="number"] {
		  -webkit-appearance: textfield;
			 -moz-appearance: textfield;
				  appearance: textfield;
		}
		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
		  -webkit-appearance: none;
		}
	
	
	.increase-decrease-input,
	input[type="number"].increase-decrease-input {
		vertical-align: middle;
		font-size: 20px;
		-webkit-border-top-right-radius: 0;
		-webkit-border-bottom-right-radius: 0;
		-moz-border-radius-topright: 0;
		-moz-border-radius-bottomright: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 3px;
		-webkit-border-top-left-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-topleft: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		height: 51px;
		width: 58px;
	}
	</mvt:comment>
	.increase-decrease-input,
	input[type="number"].increase-decrease-input {
	padding: 0;
	}
		</style>
	
					<div class="column large-two-fifths medium-whole two-fifths">
						<span class="product-add-to-cart-qty float-left medium-inline-block hide">Qty</span>
	
	
	<mvt:if expr="NOT ISNULL l.settings:product:ForceMultiples:PrefillQuantity">
		<mvt:if expr="ISNULL l.settings:product:customfield_values:customfields:Closeout">
			<input type="number" name="Quantity" value="&mvt:product:ForceMultiples:PrefillQuantity;" class="align-center increase-decrease-input" />
		<mvt:else>
			<input type="number" name="Quantity" max="&mvt:product:inventory;" value="&mvt:product:ForceMultiples:PrefillQuantity;" class="align-center increase-decrease-input" />
		</mvt:if>
	<mvt:else> 
		<mvt:if expr="l.settings:product:customfield_values:customfields:Closeout NE 1">
			<input type="number" name="Quantity" value="0" class="align-center increase-decrease-input"> 
		<mvt:else>
			<input type="number" name="Quantity" max="&mvt:product:inventory;" value="0" class="align-center increase-decrease-input" id="&mvt:product:code;" &mvt:product:disabled;> 
		</mvt:if>
	</mvt:if>
	
	
	<mvt:comment> max value doesn't work with built in miva + / - js
						<mvt:if expr="NOT ISNULL l.settings:product:ForceMultiples:PrefillQuantity"> 
							<input type="tel" name="Quantity" value="&mvt:product:ForceMultiples:PrefillQuantity;" id="l-quantity" class="align-center float-left increase-decrease-input" />
						<mvt:else> 
							<input type="tel" name="Quantity" value="1" id="l-quantity" class="align-center float-left increase-decrease-input" />
						</mvt:if>
	
	
						<div class="increase-decrease-wrap float-left">
							<span id="js-increase-quantity" class="button increase-quantity" unselectable="on" data-icon="&#x4c;"></span>
							<span id="js-decrease-quantity" class="button decrease-quantity" unselectable="on" data-icon="&#x4b;"></span>
						</div>
	</mvt:comment>
	
					</div>
	
	
	
					<div class="column large-three-fifths medium-ten-twelfths three-fifths">
						<div class="breaker hide medium-all-shown large-all-hidden"></div>
	<mvt:comment>
	<button id="js-add-to-cart" class="button button-block uppercase add-to-cart bg-green white bold">Add <span class="small-inline-block hide">to Cart</span></button>
	</mvt:comment>
	<button  type="submit" class="button button-block uppercase add-to-cart bg-green white bold">Add <span class="small-inline-block hide">to Cart</span></button>
	
						<mvt:if expr="NOT l.settings:subscription:mandatory">
							<span data-mmnodisable="true" class="wishlist-button-wrap">
								<span onClick="document.forms.add.action = '&mvtj:urls:WISH:secure;'; document.forms.add.elements.Action.value = 'ATWL';" id="add-to-wishlist-wrap">
									<mvt:item name="buttons" param="AddToWishList" />
								</span>
							</span>
						</mvt:if>
					</div>
				</div>
				<mvt:if expr="l.settings:product:customfield_values:customfields:prop65_label NE null">
					<br>
					<div class="column large-push-two-fifths large-three-fifths medium-ten-twelfths three-fifths">
						&mvt:product:customfield_values:customfields:prop65_label;
					</div>
				</mvt:if>
			</form>
	
	<mvt:comment>
	|
	| close product grid conditional
	|
	</mvt:comment>
	
	</mvt:if> 
	
	
			<div class="row">
				<div class="column whole social-sharing"><mvt:item name="readytheme" param="thirdpartysharing" /></div>
			</div>
		</div>
		<!-- end product-information--purchase -->
		<div class="breaker clear"></div>
		<br>
		<!-- end product-information--description -->
		<div class="column whole large-five-twelfths medium-half">
			<mvt:if expr="l.settings:related_product_count NE 0">
				<mvt:item name="related_products" />
			</mvt:if>
		</div>
	</div>
	<!-- end product-information -->