html, button, select,
input, textarea, a {
	color: #000000;
}

.sky,
a:hover, .sub-category a:hover,
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: #CC0033;
}

.bg-green {
	background-color: #792330;
	color: #FFFFFF;
}

.button.bg-green:hover,
.button[disabled],
.button.disabled {
	background-color: #CC0033;
}

.search-button {
	background: #000000;
}

.search-button:hover {
	background: #CC0033;
}

li.level-1.bg-gray.white.mobile-navigation-gray {
	display: none;
}

.navigation-set .level-1 > span > a {
	color: #000000;
	font-weight: bold;
}

.navigation-set .level-1:hover > span a {
	box-shadow: inset 0 -4px 0 0 #CC0033;
}

.mini-basket-inner {
	border: 2px solid #CC0033;
}

.mini-basket-count,
.nav-item-1--left {
	background-color: #CC0033;
}

.mini-basket-inner:after {
	border-right-color: #CC0033;
}

.navigation-bar {
	background-color: #EBEBEB;
}

.row.product-carousel {
	padding: 0;
}

.well {
	background: #EBEBEB;
    	padding-top: 50px;
    	padding-bottom: 50px;
}

.trending {
	color: #000000;
	font-size: 28px;
	margin-bottom:0.5rem;
}

.view-trending,
.view-trending:hover {
	background: #CC0033;
    	color: white;
    	padding: 5px 20px 35px;
}

hr {   
	border: 0;
    	border-bottom: 5px solid #CC0033;
    	margin: 0;
	width: 75px;
}

.featured-products-descrip:after,
.featured-products-descrip:before {
	display: none;
}

table th, table td {
  padding: 0;
}

main {
	background: #000000;
}

.featured-products-descrip:before {
	border-left-color: #CC0033;
}

.breadcrumbs a {
	color: #FFFFFF;
}

.product-price {
	color: #CC0033;
}

.product-description {
	font-weight: 600;
	font-size: 15px;
}

.footer {
	margin: 0;
	background: url(graphics/00000013/SO_Franchisee_Footer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000;
}

.footer-contact li:before {
	margin-bottom: -10px;
}

.disclaimers {
	background-color: #000000;
}

.category-product-cta-button:hover {
	background-color: #CC0033;
}

.breadcrumbs .current-item,
.category-tree h5,
.category-tree-heading,
.category-tree .level-1.active a,
.page-links-active {
	color: #CC0033;
}

@media only screen and (min-width: 960px) {
	.search-form { margin-top: 5px; }
	.mini-cart-margin { margin-top: 10px; }
}

.category-product p {
	font-size: 12px;
}

.quickview-product-name, .nm {
	color: #CC0033;
}

.fields-heading, .heading-fields {
	margin: 1em 0 1em 0;
}

.hero-slider.slick-initialized {
        visibility: visible;
}

.hero-slider img {
        width: 100vw;
}

.hero-slider .slick-dots {
        background: rgba(0, 0, 0, 0);
        border-radius: 1rem;
        bottom: 1rem;
        left: 50%;
        line-height: 2;
        margin: 0;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 25rem;
}

.hero-slider .slick-dots li {
        margin: 0 0.25rem;
        vertical-align: middle;
}

.hero-slider .slick-dots li button {
	font-size: 0;
        padding: 5px;
	border-radius: 5px;
	background: #ffffff;
	border: none;
}

.slick-dots li.slick-active button:before {
        background: #fff;
        color: transparent;
        opacity: 1;
}

.slick-prev, .slick-next {
	z-index: 1;
}

.product-title {
    font-size: 1.7rem;
    line-height: 1.33333;
}

.tab-active {
	color: #CC0033;
	border-bottom: 4px solid #CC0033;
}

.digits-only {
	font-style: italic;
	color: #CC0033;
	font-size: 12px;
	margin-left: 10px;
}

@media screen and (min-width: 760px) and (max-width: 959px) {
	.logo-image { max-width: 50%; }
}

@media screen and (min-width: 960px) {
	.logo-container { transform: translate3d(5%, -35%, 0); }
}

.message {
	margin: 0;
	margin-bottom: 1rem;
}