button.btn.c-top-nav__link.btn-link-plain {
	display: none;
}

.contact-wmgcs {
	color: #000000;
}

.contact-wmgcs:hover {
	color: #A1A1A1;
}

.ocst-digits-only {
	font-style: italic;
	color: red;
	font-size: 12px;
	margin-left: 10px;
}

.c-form-input[readonly],
.c-form-select__dropdown[readonly],
.c-form-checkbox__input[readonly] {
	background-color: #C0C0C0;
}

[id*='pf_pvt'],
[id*='pf_int'] {
	display: none;
}

a:focus, a:hover,
.t-primary-link:hover, .t-primary-link:active,
.x-omega-navigation__link:hover, .x-omega-navigation__link:active,
.c-form-input:focus,
.c-button:hover,
.c-button:active,
.c-button:focus {
	outline: auto;
}


.t-site-header__top-navigation {
    border-bottom: 0;
}
.x-omega-navigation__parents {
    text-align: center;
}
.x-omega-navigation__content {
    height: 2rem;
}
.x-omega-navigation__wrap {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
#aha-skip-header {
  padding: 5px 0px; }

.skip_link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0; }

.skip_link:focus,
.skip_link:active {
  position: static;
  width: auto;
  height: auto;
  clip: unset;
  -webkit-clip-path: none;
  clip-path: none;
  background: #f8f9fa;
  padding: 10px 20px;
  display: block;
  font-size: 1.2em;
  text-decoration: none;
  color: #334cd5; }

.t-accordion-category-tree .x-accordion-category-tree__link--current, .t-accordion-category-tree .x-accordion-category-tree__link:hover, .t-accordion-category-tree .x-accordion-category-tree__link--current + .x-accordion-category-tree__toggle {
    color: #ad1a32;
}
.x-collapsing-breadcrumbs__list {
    padding: 1rem 0 0.5em;
}
.promo-image-container {
	height: 360px; 
	margin-bottom: 10px;
}

a:focus,
a:hover {
	text-decoration: none !important;
}
.x-omega-navigation__wrap {
 border-top: 0;
}
.t-account-landing-section {
    padding-top: 1rem;
}
.x-omega-navigation__link::before {
    content: none;
}
legend {
    width: 1px !important;
}
.mz-hint-message {
    background: rgba(0, 0, 0, 0.75);
}
.x-omega-navigation__link:hover, .x-omega-navigation__link.is-active {
    color: #ad1a32;
}
.t-primary-link:focus, .t-primary-link:hover {
    color: #ad1a32;
}
.contact-wmgcs:hover {
    color: #ad1a32;
}
.t-secondary-link:focus, .t-secondary-link:hover {
    color: #ad1a32;
}
a:hover {
    color: #ad1a32!important;
}
.sfnt-button-width {	
	width: 80%;
}
a.sfnt-button-width:hover {	
	color: white !important;
}
c-button {
	background-color: #c10e21 !important;
}
a.c-button:hover {	
	color: white !important;
	background-color: #79091b !important;
}
.btn-danger:hover {
    background-color: #79091b !important;
}
.t-primary-link:hover, .t-primary-link:active, .x-omega-navigation__link:hover, .x-omega-navigation__link:active, .c-form-input:focus, .c-button:hover, .c-button:active, .c-button:focus {
    padding-left: 3px;
    padding-right: 3px;
}
.focus-box {
	outline: auto;
	padding-left: 3px;
	padding-right: 3px;
	color: #ad1a32;
}
@media screen and (min-width: 60em) {
.u-hidden--l {
    visibility: hidden;
}
}

@media screen and (min-width: 48em) {
.u-hidden--m {
    visibility: hidden;
}
}