.header-background {
	background-color: #000000;
}

.t-site-header__links,
.t-site-header__links:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.u-bg-primary {
	background-color: #84AABE;
}

.t-site-header__wrapper {
	max-width: 100%;
	background-color: #004A98;
	color: #FFFFFF;
}

.t-site-header__top-navigation {
	max-width: 95rem;
	border-bottom: 0;
}

#sfnt_categories {
	padding-top: 3rem;
}

.t-storefront-promos {
	padding-top: 0;
	padding-bottom: 0;
}

.t-storefront-promo__caption {
	display: none;
}

.t-storefront-promo__item:hover {
	opacity: 0.5;
}

.t-storefront-featured-products {
	margin-bottom: 0;
}

.t-storefront-featured-product-description {
	background-color: #E5E5E5;
	padding-top: 0;
	padding-bottom: 5rem;
}

.t-storefront-featured-product-description__headline {
	color: #1C3452;
	margin: 2rem 0 1rem 0;
}

.t-subcategory-navigation-block {
	display: none;
}

.x-product-list__figure {
	background-color: #FFFFFF;
}

#site_copyright {
	background-color: #004A98;
}

.t-site-footer {
	background-color: #000000;
	padding-top: 0;
}

.t-site-footer__content {
	padding-top: 3rem;
	padding-bottom: 0;
}

.footer-label {
	color: #FFFFFF;
}

a {
	color: #FFFFFF;
}

.header-link,
.footer-link {
	color: #FFFFFF !important;
}

a:hover,
.t-secondary-link:hover,
.footer-link:hover,
.ctus-footer-link:hover {	
	color: #A1A1A1;
	opacity: 0.5;
}

.volume-pricing {
	padding-left: 10px !important;
}

.volume-pricing,
.size_hdr,
.size_dtl {
	border: solid 1px #000000;
}

.x-mini-basket__item-name {
	color: #000000;
}

[id*='pf_pvt'],
[id*='pf_int'] {
	display: none;
}

.x-quantify {
    width: 15em !important;
}

.ocst-digits-only {
	font-style: italic;
	color: red;
	font-size: 12px;
	margin-left: 10px;
}

.c-form-input[readonly] {
	background-color: #C0C0C0;
}

.x-custom-select.is-disabled {
	opacity: 1;
}

#custom-BillStateSelect {
	pointer-events: none;
}

@media screen and (max-width: 1449px) {
	.x-omega-navigation__wrap {
		padding-top: 2.5rem;
		height: 350px;
	}
}

@media screen and (min-width: 1450px) {
	.x-omega-navigation__wrap {
		padding-top: 2.5rem;
		height: 100px;
	}
}