.bold {
	font-weight: bold;
}

.legal {
	font-size: 14px;
}

.u-bg-primary {
	background-color: #0072BC;
	color: #FFFFFF;
}

.t-site-header__top-navigation {
	max-width: 120rem;
	border-bottom: none;
}

.x-mini-basket {
	top: calc(70% - 1rem);
	right: calc(1%);
}

.featured-product {
	padding: 16px;
	box-shadow: 10px 10px 10px grey;
	background-color: #FFFFFF;
}

.t-site-footer__content {
	padding: 0;
}

.x-product-list__link:hover,
.t-search-preview__link:hover {
	background-color: #1965B2;
	color: #FFFFFF;
	box-shadow: none;
}

.ctgy-product-tile:hover {
	background-color: #1965B2;
	color: #FFFFFF;
	box-shadow: none;
}

.cart-button {
	padding:10px 5px;
	background-color: #0072BC;
}

.sold-button {
	padding:10px 5px;
	background-color: red;
}

.sfnt-hero-container {
	position: relative;
	text-align: center;
	color: white;
}

.sfnt-hero-header {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	width: 100%;
}

.sfnt-hero-location {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.sfnt-hero-dates {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.sfnt-hero-button {
	padding:10px 15px;
	font-size: 12px;
	color: #FFFFFF;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sfnt-hero-sponsor {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
	width: 100%;
}

.sfnt-hero-sponsor-blurb {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.sfnt-hero-sponsor-button {
	padding:10px 15px;
	font-size: 12px;
	color: #FFFFFF;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sfnt-sponsor-today-button,
.sfnt-opportunities-button {
	padding:10px 15px;
	font-size: 12px;
	color: #FFFFFF;
}

.sfnt-hero-caption-header {
	font-size: 25px;
	font-weight: bold;
	color: white;
}

.sfnt-hero-caption-dates {
	font-size: 20px;
	color: white;
}

.x-product-list__picture {
	padding: 1rem 1rem 0;
}

.x-product-list__figure-caption {
	padding: 0 1rem;
}

.x-product-list__price {
	font-weight: bold;
	font-size: 16px;
}

.x-product-list__name {
	line-height: 1.25;
}

.t-search-preview__picture {
	background-color: inherit;
}

.t-page-title {
	font-size: 1.75rem;
}

.brand-logo {
	width: 90%;
}

.o-wrapper {
	max-width: 100%;
}

.ocst-digits-only {
	font-style: italic;
	color: red;
	font-size: 12px;
	margin-left: 10px;
}

.sfnt-sold-out {
	position: absolute;
	top: 60px;
	left: 75px;
	padding: 0px 10px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: red;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	transform: rotate(-30deg);
}

.ctgy-sold-out {
	position: absolute;
	z-index: 2;
	padding: 0px 10px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: red;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	transform: rotate(-30deg);
}

.prod-sold-out {
	position: absolute;
	top: 20px;
	left: 385px;
	z-index: 2;
	padding: 0px 10px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: red;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	transform: rotate(-30deg);
}

.category-product-cta-wrapper {
	margin: 0 10%;
	line-height: 1.2;
}

.category-product-cta-adpr-text {
	padding: 0 5px;
}

.c-button[disabled],
.c-button.is-disabled,
.c-button.is-disabled:hover,
.c-button.is-disabled:active,
.c-button.is-disabled:focus {
	opacity: 1;
}

.t-product-layout-purchase__add-to-cart {
	flex-grow: 0;
}

/* Extra-Small Screen Breakpoint */
@media screen and (max-width: 39em) {
	.sfnt-hero-header {
		top: 14%;
		font-size: 15px;
	}

	.sfnt-hero-location {
		top: 24%;
		font-size: 14px;
	}

	.sfnt-hero-dates {
		top: 31%;
		font-size: 14px;
	}

	.sfnt-hero-button {
		top: 50%;
	}

	.sfnt-hero-sponsor {
		top: 14%;
		font-size: 20px;
	}

	.sfnt-hero-sponsor-blurb {
		display: none;
	}

	.sfnt-hero-sponsor-button {
		top: 30%;
	}

	.sfnt-hero-caption-header {
		font-size: 20px;
	}

	.sfnt-hero-caption-dates {
		font-size: 15px;
	}

	.sfnt-hero-caption-blurb {
		font-size: 13px;
		color: white;
	}

	.addtocart-or-sold-button {
		width: 101px;
		height: 60px;
	}
}

/* Small Screen Breakpoint - 640px */
@media screen and (min-width: 40em) {
	 .logo-padding {
		padding-left: 50px;
	}

	.sfnt-hero-header {
		top: 14%;
		font-size: 20px;
	}

	.sfnt-hero-location {
		top: 24%;
		font-size: 18px;
	}

	.sfnt-hero-dates {
		top: 31%;
		font-size: 18px;
	}

	.sfnt-hero-button {
		top: 45%;
	}

	.addtocart-or-sold-button {
		width: 135px;
		height: 60px;
	}
}

@media screen and (max-width: 47em) {
	.screen-width { max-width: 100% !important; }
}

/* Medium Screen Breakpoint - 768px */
@media screen and (min-width: 48em) {
	.sfnt-hero-header {
		top: 13%;
		font-size: 35px;
	}

	.sfnt-hero-location {
		top: 22%;
		font-size: 30px;
	}

	.sfnt-hero-dates {
		top: 29%;
		font-size: 30px;
	}

	.sfnt-hero-button {
		top: 39%;
	}

	.sfnt-hero-sponsor {
		top: 13%;
		font-size: 35px;
	}

	.sfnt-hero-sponsor-blurb {
		top: 26%;
		font-size: 13px;
	}

	.sfnt-hero-sponsor-button {
		top: 41%;
	}
}

/* Large Screen Breakpoint - 960px */
@media screen and (min-width: 60em) {
	.sfnt-hero-header {
		top: 13%;
	}

	.sfnt-hero-location {
		top: 19%;
	}

	.sfnt-hero-dates {
		top: 23%;
	}

	.sfnt-hero-button {
		top: 32%;
	}

	.sfnt-hero-sponsor {
		top: 8%;
	}

	.sfnt-hero-sponsor-blurb {
		top: 17%;
		font-size: 15px;
	}

	.sfnt-hero-sponsor-button {
		top: 26%;
	}

	.featured-product {
		min-height: 460px;
	}
}

@media (min-width: 62em) {
	.x-omega-navigation__content {
    		height: 10rem;
	}

	.x-omega-navigation__parents {
    		height: 130%;
		padding-right: 0;
    		text-align: left;
    		border-right: none;
	}
}

/* Extra-Large Screen Breakpoint - 1200px */
@media (min-width: 75em) {
	.featured-product {
		min-height: 560px;
	}
}

@media screen and (hover: hover) and (min-width: 60em) {
	.x-fasten-header__logo-image {
    		max-height: 8rem;
	}
}

/* Wide Screen Breakpoint - 1440px */
@media screen and (min-width: 90em) {
 	.logo-padding,
	.footer-logo-padding {
		padding-left: 100px;
	}
}