.fpd-sidebar.fpd-tabs-side .fpd-navigation {
    height: 100%;
    width: 75px;
    float: left;
    overflow: auto;
}

.fpd-sidebar.fpd-tabs-side .fpd-mainbar>.fpd-content {
    float: left;
    width: calc(100% - 75px);
}

.fpd-container.fpd-sidebar>.fpd-mainbar {
    height: 100%;
    width: 400px;
    background: #fff;
    border-right-width: 1px;
    border-right-style: solid;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    overflow: hidden;
}

.fpd-tool-text-stroke,
.fpd-tool-scaleY.fpd-tool-scale {
    display:none;
}
.fpd-sub-panel-title {
    font-size:14px;
    margin-bottom:5px !important;
    font-family:'Lato';

}

.fpd-sub-panel .fpd-panel-position.fpd-icon-button-group > span {
	padding: 8px 6px;
	height: auto;
    min-width: 33px;
    font-size:24px;
}

.fpd-container.fpd-sidebar .fpd-navigation .fpd-label {
    font-size: 15px;
    padding: 0;
    display: inline-block;
}

.fpd-sidebar.fpd-tabs-side .fpd-navigation>div>span {
    font-size: 32px;
}

.fpd-tool-text-shadow {
    display: none !important;
}

.fpd-container .fpd-secondary-bg-color,
.fpd-container .fpd-btn,
.fpd-modal-wrapper .fpd-modal-content .fpd-btn,
.fpd-switch-container.fpd-enabled .fpd-switch-toggle,
.fpd-switch-container.fpd-enabled .fpd-switch-bar,
.fpd-modal-product-designer.fpd-modal-overlay .fpd-done {
    background-color: #0073bd
}

.fpd-toggle.fpd-enabled {
    color: #0073bd !important
}

.fpd-container .fpd-btn:hover,
.fpd-modal-wrapper .fpd-modal-content .fpd-btn:hover {
    background: #007ccc
}

.fpd-container>.fpd-main-wrapper {
    background-color: white;
    background-image: none;
}

.fpd-module[data-module="notes"] {
    padding: 10px;
}

.fpd-module[data-module="color-select"] {
    padding: 10px;
}

textarea.c-form-input.c-form-input--large.c-form-input--long {
    height: 150px;
}

.fpd-container .fpd-primary-bg-color,
.fpd-actions-wrapper>.fpd-action-btn:hover,
.fpd-actions-wrapper>.fpd-action-btn.fpd-active,
.fpd-thumbnail-preview>.fpd-preview-price {
    background-color: #003a5d;
}

.fpd-container .fpd-primary-text-color,
.fpd-navigation>div.fpd-active,
.fpd-navigation>div.fpd-active .fpd-nav-icon::before,
.fpd-bottom-nav>div.fpd-active {
    color: #003a5d;
}

.fpd-module .fpd-section-desc,
.fpd-module .fpd-section-title {
    font-size: 15px;
    text-transform: none;
}

.x-product-layout__description>ul {
    list-style-type: disc;
}

.fpd-module[data-module="notes"] {
    padding: 10px;
}

.fpd-module[data-module="color-select"] {
    padding: 10px;
}

.fpd-module .sp-palette .sp-thumb-el {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    cursor: pointer !important;
    margin: 3px;
}

.fpd-module .sp-palette .sp-thumb-inner {
    border-radius: 3px;
}

.fpd-element-toolbar-smart>div [class^="fpd-tool-"]:hover {
    color: #1072bb;
}

.fpd-panel-title {
    margin-bottom: 10px;
    font-size: 14px;
}

.fpd-type-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.fpd-element-toolbar-tools>.fpd-scroll-area {
    margin-top: 10px;
}

.fpd-element-toolbar-tools.fpd-type-image>.fpd-scroll-area {
    margin-top: 0;
}

.fpd-tool-text-transform {
    display: none;
}


.fpd-element-toolbar-smart .fpd-top-tools span,
.fpd-element-toolbar-smart .fpd-bottom-tools span {
    display: block;
}


.fpd-element-toolbar-smart .fpd-top-tools .fpd-title,
.fpd-element-toolbar-smart .fpd-bottom-tools .fpd-title {
    margin-top: 2px;
    white-space: pre;
}

.fpd-module .sp-palette .sp-thumb-el {
    width: 25px;
    height: 25px;
    border-radius: 3px;
    cursor: pointer !important;
    margin: 3px;
}

.fpd-font-family-val {
    margin-top: 8px;
}

.fpd-element-toolbar-smart .fpd-top-tools [class^="fpd-tool-"],
.fpd-element-toolbar-smart .fpd-bottom-tools [class^="fpd-tool-"],
.fpd-element-toolbar-smart .fpd-icon-button-group>span {
    background: #fff;
    color: rgba(0, 0, 0, .8);
    margin-right: 12px;
    padding: 12px;
    height: auto;
    text-align: center;
    min-width: auto;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1;
}

.fpd-element-toolbar-smart {
    max-width: 500px;
}

.fpd-module .sp-palette .sp-thumb-inner {
    border-radius: 3px;
}



.fpd-tool-font-family>.fpd-icon-arrow-dropdown {
    margin-top: 0;
}

.fpd-element-toolbar-smart .fpd-bottom-tools [class^="fpd-tool-"] .fpd-icon-format-bold,
.fpd-element-toolbar-smart .fpd-bottom-tools [class^="fpd-tool-"] .fpd-icon-format-italic,
.fpd-element-toolbar-smart .fpd-bottom-tools [class^="fpd-tool-"] .fpd-icon-format-underline {
    font-size: 22px;
    padding: 0;
}

.fpd-element-toolbar-smart .fpd-tools-group>div {
    width: auto;
}


@media (max-width: 575.98px) {

    .fpd-element-toolbar-smart .fpd-top-tools .fpd-title,
    .fpd-element-toolbar-smart .fpd-bottom-tools .fpd-title {
        display: none;
    }

    .fpd-sub-panel-title {
        font-size:12px;
        margin-bottom:5px !important;
        font-family:'Lato';
    }

    .fpd-panel-title {
        margin-bottom: 6px;
        font-size: 12px;
    }

    .fpd-sub-panel .fpd-panel-position.fpd-icon-button-group > span {
	    padding: 8px 6px;
	    height: 33px;
        min-width: 33px;
        font-size:12px;
    }

    .fpd-element-toolbar-smart .fpd-top-tools [class^="fpd-tool-"],
    .fpd-element-toolbar-smart .fpd-bottom-tools [class^="fpd-tool-"],
    .fpd-element-toolbar-smart .fpd-icon-button-group>span {
        height: 100%;
        min-width: 40px;
    }

    .fpd-font-family-val {
        margin-top: 0px;
    }

    .fpd-tool-font-family>.fpd-icon-arrow-dropdown {
        font-size: 16px;
        margin-top: -4px;
    }

    .fpd-element-toolbar-smart .fpd-tools-group>div {
        width: 31px;
    }

    .fpd-element-toolbar-smart .fpd-bottom-tools [class^="fpd-tool-"] .fpd-icon-format-bold,
    .fpd-element-toolbar-smart .fpd-bottom-tools [class^="fpd-tool-"] .fpd-icon-format-italic,
    .fpd-element-toolbar-smart .fpd-bottom-tools [class^="fpd-tool-"] .fpd-icon-format-underline {
        font-size: 12px;
    }
}