.u-border-primary {
	border-color: #1072BB;
	}
	
	.u-color-primary {
	color: #1072BB;
	}
	
	html {
		font-family: "Roboto-regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Poppins, Helvetica, Arial, sans-serif;
	}
	
	.t-wrapper {
		background-image: url(graphics/00000014/Backsplash.png);
		background-position: 0% 50%;
		background-repeat: no-repeat;
		background-size: 100%;
	}
	
	.t-site-header__links,
	.x-omega-navigation__link,
	.header-link,
	.footer-link,
	.t-primary-link,
	.t-secondary-link,
	.t-account-navigation__link,
	.x-accordion-category-tree__link,
	.t-account-page-header__link,
	.top-category,
	.x-product-list__figure,
	.breadcrumb-link,
	.mini-basket-link {
		color: #1072BB !important;
		font-weight: 600 !important;
		letter-spacing: 0.1em !important;
		text-decoration: none !important;
		box-shadow: none;
	}
	
	.t-site-header__links:hover,
	.x-omega-navigation__link:hover,
	.header-link:hover,
	.footer-link:hover,
	.t-primary-link:hover,
	.t-secondary-link:hover,
	.t-account-navigation__link:hover,
	.x-accordion-category-tree__link:hover,
	.t-account-page-header__link:hover,
	.top-category:hover,
	.x-product-list__figure:hover,
	.breadcrumb-link:hover,
	.mini-basket-link:hover {
		color: #FF0000 !important;
		background-color: transparent !important;
		text-decoration: none !important;
		box-shadow: none;
	}
	
	.bg-gray {
		background-color: #333333;
	}
	
	.u-bg-primary::before {
		background-color: transparent;
	}
	
	.u-bg-primary,
	.u-bg-secondary,
	.u-bg-black {
		background-color: #1072BB !important;
		color: #FFFFFF !important;
	}
	
	.u-bg-primary:hover,
	.u-bg-secondary:hover,
	.u-bg-black:hover {
		background-color: #061931 !important;
	}
	
	.btn-cancel {
		background-color: red;
	}
	
	.btn-cancel:hover {
		background-color: #061931 !important;
	}
	
	.x-omega-navigation__wrap {
		padding-top: 2.5rem;
		height: 400px;
	}
	
	.t-defer-object {
		visibility: visible;
	}
	
	.t-storefront-promos {
		padding-top: 2rem;
	}
	
	.t-storefront-promo__item:hover {
		opacity: 0.5;
	}
	
	.t-storefront-promo__caption {
		background-color: #0073BD;
		height: 3.5rem;
		display: none;
	}
	
	.t-spotlight__figure-text {
		background-color: #0073BD;
		height: 3.5rem;
		width: 12rem;
	}
	
	.t-spotlight__figure--highlighted::before {
		background: #0073BD;
	}
	
	.t-storefront-featured-product-description {
		padding: 2.5rem 0;
	}
	
	.t-featured-categories {
		background: #F1F2F2;
		margin-bottom: 0;
		padding-bottom: 30px;
		padding-right: 15px;
	}
	
	.t-featured-categories__heading {
		color: #003A5D;
	}
	
	.ContactUsFooter {
		background-image: url('graphics/00000014/contact-us-banner.png');
		background-size: cover;
		text-align: center;
		max-height: 285px;
	}
	
	.ContactUsFooter .Prompt {
		font-weight: 900;
		font-size: 1.5rem;
		color: #292929;
		text-transform: uppercase;
	}
	
	.ContactUsLink {
		padding: 1.0em 2.0em;
		background-color: #0073BD;
		font-weight: bold;
		font-size: 1.0rem;
		color: white;
		line-height: 1;
		text-transform: uppercase;
		text-decoration: none;
		transition-property: text-shadow;
		transition-duration: 200ms;
	}
	
	.ContactUsLink:hover {
		color: white;
		background-color: #061931;
		text-decoration: none;
		text-shadow: 0 0 0.25em rgba(255, 255, 255, 0.4);
		transition-duration: 350ms;
	}
	
	.t-site-footer {
		background-color: #EFEFEF;
		padding-top: 0;
	}
	
	.t-site-footer__content {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	#site_copyright {
		background-color: #003A5D;
		color: #FFFFFF;
	}
	
	.custom-proof-link {
		font-size: 12px;
		text-decoration: none;
		font-weight: bold;
	}
	
	.custom-proof-link:hover {
		text-decoration: underline;
	}
	
	.modal-alert-warning {
		background-color: #ffffff;
		border-color: #888888 !important;
		color: #888888;
	}
	
	.modal-alert-info {
		background-color: #ffffff;
		border-color: #1E90FF !important;
		color: #1E90FF;
	}
	
	.modal-alert-danger {
		background-color: #ffffff;
		border-color: #ED2939 !important;
		color: #ED2939;
	}
	
	[id*='pf_pvt'],
	[id*='pf_int'],
	[id*='hd_'] {
		display: none;
	}
	
	.t-product-layout-purchase__add-to-cart {
		height: 60px;
	}
	
	.t-basket-update .x-quantify {
		width: 13em;
	}
	
	.asterisk {
		color: red;
	}
	
	@media screen and (min-width: 200px) {
		.break-on-desktop {
			display: none;
		}
	}
	
	@media screen and (min-width: 960px) {
		.c-heading-alpha {
			 font-size: 50px;
		}
	
		.break-on-desktop {
			display: block;
		}
	
		.t-storefront-promo__item {
			margin: 0 30px 1rem 0;
		}
	}
	
	.x-messages_srch {
		margin-bottom: 1rem;
		padding: 0.75em 1.25em;
		font-size: 0.8125rem;
		background-color: #fff;
		border: 0 none;
		box-shadow: 0 0 0;
	}
	
	.has-active-search-preview main {
		filter: blur(5px);
	}
	
	.fpd-best-results {
		border: 1px solid lightgray;
		margin: 15px;
		padding: 5px;
	}
	
	.top-category-text {
		color: #292929;
	}
	
	.t-search-preview__name {
		text-transform: none;
	}
	
	.x-product-list__name {
		display: inline-block;
		padding-right: 0.5em;
		padding-left: 0.5em;
		font-size: 1.125rem;
		font-weight: 600;
	height: auto;
	padding-bottom: 0;
	}
	
	
	.x-product-list__saleprice {
		display:block;
		font-weight:normal;
		font-size: 1.1rem;
		
	}
	.x-product-list__unitprice {
		display:inline-block;
		font-weight:normal;
		font-size: 1rem;
	}
	
	.t-global-search,
	.o-layout--flush,
	.x-mini-basket {
		border: 1px solid black;
	}
	
	.x-product-layout-purchase__pricing-current{
		margin-bottom: 0.5rem;
	}
	